.header__icon--menu {position: initial;}
.js menu-drawer > details > summary::before,.js menu-drawer > details[open]:not(.menu-opening) > summary::before {content: '';position: absolute;cursor: default;width: 100%;height: calc(100vh - 100%);height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));top: 100%;left: 0;background: rgba(var(--color-foreground), 0.5);opacity: 0;visibility: hidden; z-index: 2;transition: opacity 0s, visibility 0s;}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
      rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}

.js .menu-drawer {
  height: calc(var(--viewport-height, 100vh) - 0%);
  /* height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))); */
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

/* .js .menu-drawer__navigation .submenu-open {
  visibility: hidden; 
} */

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 5fr 1fr;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
  padding:0 1rem;
}

.menu-drawer__navigation {
  padding: 0;
}

.menu-drawer__inner-submenu {
  height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem 0 2rem;
    /* border-bottom: 1px solid #E2E2E2; */
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 1.1rem 3rem;
  text-decoration: none;
  font-size: 1.8rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding: 1rem;
  font-size:16px;
  border-bottom: 1px solid #D2D2D2;
  justify-content: center;
}
details[open]>summary.menu-drawer__menu-item {
    border-bottom: 3px solid #DF2E84;
    color: #000;
    font-weight: 600;
}
.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret {
  display: none;
}

.menu-drawer__menu-item > .svg-wrapper {
  width: 15px;
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem 1.2rem 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.menu-drawer__close-button .svg-wrapper {
  transform: rotate(180deg);
  margin-right: 1rem;
  width: 15px;
}

.menu-drawer__utility-links {
  padding: 0;
  /* background-color: rgba(var(--color-foreground), 0.03); */
  position: relative;
  border-top: 1px solid #E2E2E2;
}

.header--has-social .menu-drawer__utility-links {
   padding: 1rem 1rem;
}

@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}

.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin: 0;
}

.menu-drawer__account account-icon > .svg-wrapper {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account shop-user-avatar {
  --shop-avatar-size: 2.4rem;
  margin-right: 0.55rem;
  margin-left: -0.45rem;
}

.menu-drawer__account:hover account-icon > .svg-wrapper {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: 0;
}

.menu-drawer .list-social:empty {
  display: none;
}.menu-drawer__submenu

.menu-drawer .list-social__link {
  padding: .5rem;
}
details[open].menu-opening>.menu-drawer__submenu{
  position: absolute;
    top: 5rem;
  height: fit-content;;
  display: flex;
    flex-direction: column;
}
ul.menu-drawer__menu.has-submenu.list-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.menu-drawer__inner-submenu .menu-drawer__menu-item.list-menu__item {
    border: 1px solid #B7B7B7;
    border-radius: 20px;
    font-size: 12px;
    padding: 1rem 2rem;
}
.menu-drawer__inner-submenu ul.menu-drawer__menu.list-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    gap: 1rem;
}
.menu-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
    padding:2rem 0;
  border-top: 1px solid #E2E2E2;
}
.images-url {
    padding-bottom: 1rem;
        width: 45%;
}
.images-url img {
    max-width: 100%;
}
.images-url a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.images-url p {
    margin: 0;
    line-height: normal;
}
.menu-drawer .icon.icon-close {
    height: 2rem;
    width: 2rem;
    fill: none;
    vertical-align: middle;
    margin: 17px 10px 11px 17px;
}
.links-drawer a {
    text-decoration: none;
    color: #646464;
}
.links-drawer {
    display: flex;
    flex-direction: column;
}

a.header__icon.store-icon-link p {margin: 0;}
@media screen and (max-width: 749px) {
  a.header__icon.store-icon-link {
    flex-direction: column;
    width: 7rem;
    font-size: 8px;
    text-decoration: none;
    font-weight: 500;
}
  .menu-drawer.country-selector-open {
    transform: none !important;
    filter: none !important;
    transition: none !important;
  }
}
