.list-social {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}
.list-social__link {
  align-items: center;
  display: flex;
  padding: 2rem .5rem 1rem 0;
  color: rgb(var(--color-foreground));
}
@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
  .list-social__link{
    /* padding-bottom:2rem; */
    padding: 17px 10px 19px 0px;
  }
}

.list-social__item .icon {
  height: 3rem;
  width: 3rem;
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
