h1.iwishPageTitle {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
}
.iwishWrapper .breadcrumbs {
  padding-top: 10px;
  padding-bottom: 10px;
}
.breadcrumbs__list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 5px;
  color: #b7b7b7;
  font-size: 10px;
  align-items: center;
}
.breadcrumbs__list a {
  color: #b7b7b7;
  font-size: 10px;
}
.breadcrumbs__list .last {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
}
.section-template--17664050331808__collection_sub_categories_QmV3AX-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.active.sub-cat {
  background: #df2e84;
  color: #fff;
}
.active.sub-cat svg {
  margin-left: 15px;
}
.sub-cat {
  color: #434340;
  text-decoration: none;
  font-size: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 1px 5px #0000001a;
  border-radius: 25px;
  max-width: fit-content;
  background: #faf9f6;
  line-height: 15px;
  text-wrap: nowrap;
}
.sub-cat:hover {
  background: #df2e84;
  color: #fff;
}
.col-subcategory.swiper {
  padding: 5px 0;
}
.col-subcategory .swiper-button-prev,
.col-subcategory .swiper-button-next {
  color: #000;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-subcategory .swiper-button-next::after,
.col-subcategory .swiper-button-prev::after {
  display: none;
}
/* .col-subcategory .swiper-button-prev:hover, .col-subcategory .swiper-button-next:hover {
  background: #000;
  color: #fff;
} */
.col-subcategory-prev.swiper-button-prev {
  position: absolute;
  right: 48px;
  left: auto;
  border: 1px solid #1a1a1a;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  background: #f5f5f5;
  top: 30px;
}
.col-subcategory-prev.swiper-button-prev svg,
.col-subcategory-next.swiper-button-next svg {
  width: 12.5px;
  height: auto;
  position: relative;
}
.col-subcategory-next.swiper-button-next {
  position: absolute;
  right: 0;
  border: 1px solid #1a1a1a;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  background: #f5f5f5;
  top: 30px;
}
.col-subcategory-next.swiper-button-next.swiper-button-disabled,
.col-subcategory-prev.swiper-button-prev.swiper-button-disabled {
  display: none;
}
@media screen and (max-width: 749px) {
  .col-subcategory .swiper-button-prev,
  .col-subcategory .swiper-button-next {
    display: none;
  }
  .col-subcategory.swiper {
    padding: 15px 0;
  }
  .breadcrumbs {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  .section-template--17664050331808__collection_sub_categories_QmV3AX-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.iwishCategoryWrapper {
  margin: 0 0 0 0;
}
.iwishLoginNote {
  margin-bottom: 10px;
}
input.iwishBuyBtn.button.button--full-width.button--secondary {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  margin-top: 10px;
}
.iwishQuantity {
  width: 100%;
  height: 40px;
}
.boost-sd__product-price {
  margin-top: 10px;
}
